doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  link(href='style.css' rel='stylesheet' type='text/css')
  title Administrator
  a(href='/index') Back
  img#top(src='' alt='Teen Women In Science')
h1 Administration Login
#admin-nav
  a(href="") Registrants
  a(href="") Speakers
  a(href="") Sessions
footer
  a(href='/index') HOME
  p &copy; Kansas State University
