doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    link(href='style.css' rel='stylesheet' type='text/css')
    title Twist
  body
    img#top(src='' alt='Teen Women In Science')
    a(href='/register') Register
    div
      h2 What is TWIST?
      p
        | TWIST, or Teen Women in Science and Technology, is a one-day conference to expose teen women across the state to various career possibilities. TWIST was developed by K-State Polytechnic and the Salina community more than 25 years ago. TWIST is open to any young woman in 9th through 12th grade. K-State Polytechnic encourages high school sponsors or organizers to register students. Students must register individually to choose their top five career sessions.
      a.reg(href='/register') Register Here
      img(src='')
    div
      h3 Name
      p Quote
      h3 Name
      p Quote
      h3 Name
      p Quote
    div
      h3 2021 Industry Sessions
      ul
        li Chiropractic Care
        li Dentistry
        li Engineering
        li Finance
        li Graphic Design
        li Interior Architecture
        li Law Enforcement
        li Legal Services
        li Nonprofit Administration
        li Professional Pilot
        li Realty
        li Research Scientist
        li Zoo Veterinarian Medicine
    div
      h3 Next Event
      p
        b
          | Thursday, Jan. 7, 2021 8:30 a.m. - 1 p.m. K-State Polytechnic Campus Salina, Kansas
      h3 Location and Travel
      p
        | TWIST is hosted on the Kansas State University Polytechnic campus in Salina, KS. Attendees should arrive to the Student Life Center for check-in. The Student Life Center is number 21 on the campus map.
      p
        | If you are traveling east or west on I-70, stay on I-70 until the I-70/I-135 interchange. Travel south on I-135 to the Magnolia St. exit (No. 90). Go west on Magnolia to Centennial Rd. Turn right and proceed to the Kansas State Polytechnic campus.
    footer
      p &copy; Kansas State University
      a(href='/login') Admin
