doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    link(href='style.css' rel='stylesheet' type='text/css')
    title Success!
  body
    img#top(src='' alt='Teen Women In Science')
    div
      h2 Success!
      p
        | You have Successfully registerd for the TWIST event on Thursday, Jan. 7, 2021! You will receive an email shortly with the details of the event including the session times and locations.
      a.reg(href='/')
        | Back to Homepage
    footer
      a(href='/') HOME
      p &copy; Kansas State University
      a(href='/login') Admin